# Auto detect text files and perform LF normalization
* text=auto

# Treat font and media files as binary (no line ending conversion)
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.mp4 binary
*.mov binary
*.png binary
*.jpg binary
*.jpeg binary
*.fbx binary
